@page "/Lesson5"
@using BlazorApp1.Shared.models.oop

<h3 />  מלבן ראשון   <h3 />  
הכנס את אורך מלבן 1 : <input type="number" @bind="L1"/>  <br /> 
הכנס את רוחב מלבן 1:<input type="number" @bind="W1"/>  <br />
הכנס את צבע מלבן 1: <input type="text" @bind ="C1"/>  <br /> 


<h4 />  מלבן שני   <h4 />  
הכנס את אורך מלבן 2 : <input type="number" @bind="L2"/>  <br /> 
הכנס את רוחב מלבן 2:<input type="number" @bind="W2"/>  <br />
הכנס את צבע מלבן 2: <input type="text" @bind="C2" />  <br />

<input type="button" value="Calculate" @onclick="EnterData"/><br />
<span style=@Bigcolor > @result1</span>
<span   style=@Bigcolor2   > @result2</span>


@code {

    double L1;
    double W1;
    string C1;
    double L2;
    double W2;
    string C2;
    double area1;
    double area2;
    double circumference1;
    double circumference2;
    string result1 = "";
    string result2 = "";
    MyReancle Reancle1 = new MyReancle();
    MyReancle Reancle2 = new MyReancle();
    String Bigcolor = "";
    String Bigcolor2 = "";


    protected void EnterData()
    {
        Reancle1.Length = L1;
        Reancle1.Width = W1 ;
        Reancle1.Color = C1;
        area1 = Reancle1.R_area() ;
        circumference1 = Reancle1.R_circumference()  ;
        Reancle2.Length = L2;
        Reancle2.Width  =  W2 ;
        Reancle2.Color = C2;
        area2 = Reancle2.R_area() ;
        circumference2 = Reancle2.R_circumference()  ;
        if (area1 > area2 )
        {
            result1 =  C2 + "גדול מהשטח של המלבן שצבעו " + C1 +" השטח של מלבן שצבעו ";
            Bigcolor = C1;
        }
        else
        {
            result1 =  C1 + " גדול מהשטח של המלבן שצבעו "  + C2 +  "השטח של מלבן שצבעו ";
            Bigcolor = C2;
        }
        if  (circumference1 > circumference2 )   
        {
            result2 =  C2 + "גדול מההיקף של המלבן שצבעו" +  C1  + "היקף המלבן שצבעו ";
            Bigcolor2 = C1;
        }
        else
        {
            result2 =  C1+  "גדול מההיקף של המלבן שצבעו "+  C2+ " היקף המלבן שצבעו";
            Bigcolor2 = C2;
        }

    }




}